<h1>Jaspero Fireshop - {{title}}</h1>
<p>{{description}}</p>
{{#each additionalProperties}}
    <p><b>{{key}}:</b> {{value}}</p>
{{/each}}
<p><b>Error:</b> {{value}}</p>
<p>Useful links: </p>
<ul>
    <li><a href="{{firebaseDashboard}}">Firebase Dashboard</a></li>
    <li><a href="{{adminDashboard}}">Admin Dashboard</a></li>
</ul>
